* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --main-color: #f1470a;
    --secondary-color: #d08264;
}

ul {
    list-style-type: none;
}

button {
    color: white;
    background-color: var(--main-color);
    border-radius: 20px;
    border-style: none;
    padding: 10px 20px;
    width: auto;
}

button:hover {
    cursor: pointer;
}

.cards {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}